@charset "utf-8";
/* CSS Document */
.login{
			text-align:center;
			padding-top:20px;
			padding-bottom:60px;
			width:600px;
			background-image:url(../images/login.jpg);			
			background-size:cover;
			background-repeat:no-repeat;
			color:rgba(20,192,200,0.8);
			margin:0 auto;
			margin-top:50px;
			font-size:24px;
		}
form {
	margin:0 auto;
	padding:30px 30px;
}
.form-control{
	width:350px;
	margin:0 auto;
	margin-top:10px;
	font-color:#ffff;
	border-top:0px;
	border-left:0px;
	border-right:0px;
	background-color: transparent;
	font-size:18px;
	color:black;
}

.btn{
	width:350px;
	border:0px;
	background-color:rgba(20,192,200,0.8);
	color:white;
	margin-top:20px;
	font-size:18px;
}